html, body {
 height: 100%;
    margin: 0; padding: 0;
    
    
}

body {
 background-color: #ccc;   
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.vlak {
 background-color: #fff;
    padding: 1em;
    margin: 1em; 
    font-family: sans-serif; 
    font-size: 1.3em;
    line-height: 1.4em;
    color: deepskyblue;
    height: 19em;
    flex: 0 0 10em;
    
}

.vlak p:last-child {
 font-size: .7em;
    text-align: right;
    
}